body {
    
}
.dashboard {
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    height:100vh;
}
body > div {
    outline: solid rgb(27, 151, 48) 1px;
}
.sidebar {
    background-color: rgb(81, 177, 255);
    color:white;
    font-weight: 800;
    font-size: large;
    padding:1.5em;
}
.sidebar ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-bottom:1.5em;
}

.sidebar li {
    margin-top:0.5em;
}