/* prevent weird auto styling */
body {
    margin:0;
}

/* page is a css grid, with the first column holding the side bar, and the second column holding the header and main content area */
.dashboard {
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-flow:column;
    height:100vh;
}

/*debugging styling */
.dashboard > div {
    outline: solid rgb(27, 151, 48) 2px;
}
.sidebar {
    background-color: rgb(81, 177, 255);
    color:white;
    font-weight: 800;
    font-size: large;
    padding:1.5em;
}
.sidebar ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-bottom:1.5em;
}

.sidebar li {
    margin-top:0.5em;
}

.rightContainer {
    display:grid;
    grid-template-rows: 1fr 5fr;
    margin:1em;
    padding:1em;
}

.header {
    box-shadow: 0 4px 3px -2px black;
    display:grid;
    grid-template-rows: 1fr 2fr;
    margin-bottom:0;
}

.topHeader {
    display:grid;
    grid-template-columns: 4fr 1fr;
    font-weight:800;
}

.bottomHeader {
    display:grid;
    grid-template-columns: 1.5fr 1fr;
    margin-bottom: 0;
}

.mainContent {
    display:grid;
    grid-template-columns: 3fr 1fr;
}

.greeting {
    font-size:small;
}

.welcome {
    font-weight: 900;
}

.buttons ul {
    list-style-type:none;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1em;
}

.buttons li {
    background-color:rgb(81, 177, 255);
    border-radius: 50px;
    text-align:center;
    padding:0.5em;
    color:white;
    font-weight:600;
}