/* prevent weird auto styling */
body {
    margin:0;
}

/* page is a css grid, with the first column holding the side bar, and the second column holding the header and main content area */
.dashboard {
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-flow:column;
    height:100vh;
}

/*debugging styling */
div {
    /*outline: solid rgb(27, 151, 48) 2px;*/
}
.sidebar {
    background-color: rgb(81, 177, 255);
    color:white;
    font-weight: 800;
    font-size: large;
    padding:1.5em;
}
.sidebar ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-bottom:1.5em;
}

.sidebar li {
    margin-top:0.5em;
}

.rightContainer {
    display:grid;
    grid-template-rows: 1fr 5fr;
    background-color: rgb(230, 241, 245);
}

.header {
    box-shadow: 0 4px 4px -3px black;
    display:grid;
    grid-template-rows: 1fr 2fr;
    background-color: white;
    margin-bottom:1em;
    padding:1em;
}

.topHeader {
    display:grid;
    grid-template-columns: 4fr 1fr;
    font-weight:800;
}

.bottomHeader {
    display:grid;
    grid-template-columns: 1.5fr 1fr;
    margin-bottom: 0;
}

.greeting {
    font-size:small;
}

.welcome {
    font-weight: 900;
}

.buttons ul {
    list-style-type:none;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1em;
}

.buttons li {
    background-color:rgb(81, 177, 255);
    border-radius: 50px;
    text-align:center;
    padding:0.5em;
    color:white;
    font-weight:600;
}

.mainContent {
    display:grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgb(230, 241, 245);
    padding:1em;
}

.leftContent > p {
    font-size: large;
    font-weight:700;
}

.leftContent {
    margin-right:1em;
}

.projectContainer {
    display:grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:1em;
}

.projectCard {
    background-color: white;
    border-radius: 20px;
    padding: 1em;
    box-shadow: 1px 1px 1px;
}

.title {
    font-size:large;
    font-weight:600;
}

.projectCard .body {
    color:rgb(95, 95, 95);
    font-weight: 400;
    font-size:small;
}

.dummyIcons {
    display:grid;
    justify-content: end;
}

.rightContent > p {
    font-size: large;
    font-weight:700;
}

.rightContent ul {
    list-style-type:none;
}